.popup__form {
  margin-top: 27px;
}

.popup__input-error {
  border-bottom: 1px solid #FF0000 !important;
}

.popup__error-message {
  color: #FF0000;
  display: none;
}

.popup__error-visible {
  display: block !important;
}

.popup__input-error ~ .popup__error-message {
  display: none;
}

.button-inactive {
  pointer-events: none;
  user-select: none;
  color: #B8B8B8 !important;
  outline: 1px solid #B8B8B8 !important;
  background-color: #fff !important;
}

